.MainPanel
{
    width: 100%;
    height: 100%;
}

.UILabel
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: #CCB966;
}

#HeroDetails
{
    flow-children: right;
    vertical-align: bottom;
    horizontal-align: left;
    margin-bottom: 100px;
    margin-left: 100px;
    transition: transform 1.0s linear 0.0ms;
}

#HeroPortraitContainer
{
    opacity: 0.95;
    width: 160px;
    height: 160px;
    overflow:clip;
    opacity-mask: url('file://{images}/custom_game/portrait_mask.png');
}

#HeroPortrait
{
    margin-top: -20px;
    width: 180px;
    height: 240px;
}

#HeroNameContainer
{
    height: 100%;
}

#HeroNameLabel
{
    margin-left: 20px;
    vertical-align: middle;
}

#HeroPanel
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 100px;
    transition: transform 1.0s linear 0.0ms;
}

.BuffPanel
{
    flow-children: right;
    horizontal-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.HealthPanel
{
    flow-children: right;
    horizontal-align: center;
    margin-bottom: 20px;
}

.HealthBar
{
    width: 100px;
    height: 20px;
    background-color: #3A9B00;
    margin: 3px;
    border: 1px solid #333333;
    /*box-shadow: inset #333333 2px 2px 4px 4px;*/
    box-shadow: black 0px 0px 4px 0px;
    border-radius: 2px;
    transition-property: background-color, opacity;
    transition-duration: 0.5s;
}

.AspectRatio5x4 .HealthBar
{
    width: 80px;
}

.AspectRatio4x3 .HealthBar
{
    width: 80px;
}

.HealthBarDead
{
    background-color: gray;
    opacity: 0.4;
}

#DebugPanel
{
    flow-children: down;
    horizontal-align: right;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 100px;
}

#DebugPanel TextEntry
{
    width: 160px;
    height: 30px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
}

#DebugPanel Button
{
    width: 160px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 2px;
}

#DebugPanel Button Label
{
    horizontal-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 0px 8px 4.0 #333333b0;
}

#ResultMessage
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 102;
    horizontal-align: center;
    vertical-align: middle;
    text-shadow: -1px 1px 2px 2.0 #000000;
    color: #CCB966;
}

.HeroMarkerTransition
{
    transition: position 0.3s linear 0.0ms;
}

.AnimationHeroHudHidden
{
    transform: translateY(1000px);
}

.AnimationHeroDetailsHidden
{
    transform: translateX(-1000px);
}

.AnimationScoreboardHidden
{
    transform: translateY(-1000px);
}

.AnimationTimerHidden
{
    transform: translateX(1000px);
}