.MainPanel
{
    width: 100%;
    height: 100%;
}

.UILabel
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: #CCB966;
}

#HeroDetails
{
    flow-children: right;
    vertical-align: bottom;
    horizontal-align: left;
    margin-bottom: 100px;
    margin-left: 100px;
    transition: transform 1.0s linear 0.0ms;
}

#HeroPortraitContainer
{
    opacity: 0.95;
    width: 160px;
    height: 160px;
    overflow:clip;
    opacity-mask: url('file://{images}/custom_game/portrait_mask.png');
}

#HeroPortrait
{
    margin-top: -20px;
    width: 180px;
    height: 240px;
}

#HeroNameContainer
{
    height: 100%;
}

#HeroNameLabel
{
    margin-left: 20px;
    vertical-align: middle;
}

#HeroPanel
{
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 100px;
    transition: transform 1.0s linear 0.0ms;
}

.BuffPanel
{
    flow-children: right;
    horizontal-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.HealthPanel
{
    flow-children: right;
    horizontal-align: center;
    margin-bottom: 20px;
}

.HealthBar
{
    width: 100px;
    height: 20px;
    background-color: #3A9B00;
    margin: 3px;
    border: 1px solid #333333;
    /*box-shadow: inset #333333 2px 2px 4px 4px;*/
    box-shadow: black 0px 0px 4px 0px;
    border-radius: 2px;
    transition-property: background-color, opacity;
    transition-duration: 0.5s;
}

#KillLog
{
    flow-children: down;
    vertical-align: bottom;
    horizontal-align: right;
    margin-bottom: 50px;
    margin-right: 100px;
    width: 200px;
    transition: transform 1.0s linear 0.0ms;
    overflow: clip clip;
    transform: scaleY(-1.0);
}

.KillLogEntry
{
    flow-children: right;
    width: 100%;
    height: 52px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #33333366;
    padding: 10px;
    transition-property: transform, position;
    transition-duration: 0.5s;
    transform: translateX(-400px) scaleY(-1.0);
}

.KillLogEntryAppear
{
    transform: translateX(0px) scaleY(-1.0);
}

.KillLogEntry Image, .KillLogEntry DOTAHeroImage
{
    width: fill-parent-flow(1.0);
}

.AspectRatio5x4 .HealthBar
{
    width: 80px;
}

.AspectRatio4x3 .HealthBar
{
    width: 80px;
}

.HealthBarDead
{
    background-color: gray;
    opacity: 0.4;
}

#DebugPanel
{
    flow-children: down;
    horizontal-align: right;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 100px;
}

#DebugPanel TextEntry
{
    width: 160px;
    height: 30px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
}

#DebugPanel Button
{
    width: 160px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 2px;
}

#DebugPanel Button Label
{
    horizontal-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 0px 8px 4.0 #333333b0;
}

#ResultMessage
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 102;
    horizontal-align: center;
    vertical-align: middle;
    text-shadow: -1px 1px 2px 2.0 #000000;
    color: #CCB966;
}

#GameChat
{
    margin-top: 250px;
    align: center center;
    width: 25%;
    height: 12%;
    flow-children: down;
}

#GameChatContent
{
    width: 100%;
    height: fill-parent-flow(1.0);
    flow-children: down;
    padding: 2px;
    overflow: squish clip;
    transform: scaleY(-1.0);
}

#GameChatEntryContainer
{
    margin-top: 2px;
    width: 100%;
    height: 32px;
}

#GameChatEntry
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 200);
    font-size: 16px;
    padding: 6px 3px 5px 3px;
    color: #9C9383;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    text-overflow: clip;
    border-radius: 3px;
}

.GameChatLine
{
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    color: white;
    font-size: 16px;
    height: 24px;
    flow-children: right;
    transition-property: opacity, transform, position;
    transition-duration: 0.2s;
    transform: translateX(-100%) scaleY(-1.0);
}

.GameChatLineAppear
{
    transform: translateX(0px) scaleY(-1.0);
}

.GameChatLineHidden
{
    opacity: 0.0;
}

#GameChat:descendantfocus .GameChatLine
{
    opacity: 1.0;
}

.GameChatLine Label
{
    vertical-align: center;
}

.GameChatImage
{
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.HeroMarkerTransition
{
    transition: position 0.3s linear 0.0ms;
}

.AnimationHeroHudHidden
{
    transform: translateY(1000px);
}

.AnimationHeroDetailsHidden
{
    transform: translateX(-1000px);
}

.AnimationKillLogHidden
{
    transform: translateX(1000px);
}

.AnimationScoreboardHidden
{
    transform: translateY(-1000px);
}

.AnimationTimerHidden
{
    transform: translateX(1000px);
}