.MainPanel
{
    width: 100%;
    height: 100%;
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );*/
}

#HeroSelectionBackground
{
    background-color: gradient(linear, 100% 0%, 0% 0%, from(black), color-stop(0.6, black), to(#c0c0c0c0));
    visibility: collapse;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 0.5s;
}

#HeroList
{
    x: 40%;
    y: 60px;
    width: 25%;
    height: 100%;
    flow-children: down;
}

#HeroButtons
{
    width: 100%;
    height: 30%;
    flow-children: right-wrap;
}

#HeroAbilities
{
    margin-top: 20px;
}

#HeroTips
{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 16;
    color: gray;
}

.HeroButton
{
    saturation: 0.0;
    margin: 3px;
    max-height: 40px;
}

.HeroButton:hover
{
    saturation: 1.0;
    box-shadow: fill yellow 0px 0px 8px 0px;
}

#NameColumn
{
    y: 60px;
    width: 10%;
    height: 100%;
    flow-children: down;
}

.NamePanel
{
    background-color: gradient(linear, 0% 0%, 100% 0%, from(black), to(#00000000));
    height: 40px;
    width: 100%;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    overflow: clip clip;
}

.NameLabel
{
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 16;
    vertical-align: middle;
    horizontal-align: left;
    text-shadow: -1px 1px 2px 2.0 black;
    white-space: nowrap;
}

.HeaderLabel
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: #CCB966;
    margin-bottom: 6px;
}

.NameColumnHeader
{
    margin-left: 5px;
}

.SelectionColumnHeader
{
    horizontal-align: right;
}

.HeroListHeader
{
    width: 100%;
    horizontal-align: center;
    text-align: center;
}

#HeroPreview
{
    width: 100%;
    height: 300px;
    opacity-mask: url('s2r://panorama/images/masks/softedge_box_png.vtex');
}

#SelectionColumn
{
    y: 60px;
    x: 11%;
    width: 15%;
    height: 100%;
    flow-children: down;
}

.SelectionImage
{
    saturation: 0.0;
    max-height: 40px;
    margin-bottom: 3px;
    margin-top: 3px;
    opacity: 0.0;
    transition-property: transform, opacity, saturation;
    transition-duration: 0.3s;
}

.SelectionParent
{
    overflow:clip clip;
    height: 30px;
}

#ScoreColumn
{
    y: 60px;
    x: 27%;
    width: 13%;
    height: 100%;
    flow-children: down;
}

.ScorePanel
{
    height: 40px;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 3px;
}

.ScoreText
{
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 28;
    text-shadow: -1px 1px 2px 2.0 black;
    color: gray;
    horizontal-align: center;
    vertical-align: middle;
}

#TimerColumn
{
    y: 60px;
    x: 65%;
    width: 35%;
    height: 100%;
    flow-children: down;
}

.TimerColumnLabel
{
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 18;
    horizontal-align: center;
    text-shadow: -1px 1px 2px 2.0 black;
    color: gray;
}

.TimerColumnText
{
    margin-top: 20px;
    text-align: center;
}

#TimerText
{
    margin-top: 20px;
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 48;
    horizontal-align: center;
    text-shadow: -1px 1px 2px 2.0 black;
}

.AnimationSelectedHero
{
    saturation: 1.0;
    opacity: 1.0;
    transform: translateX(200px);
    box-shadow: fill yellow 0px 0px 8px 0px;
    sound: "UI.SelectHero";
}

.AspectRatio16x10 .AnimationSelectedHero
{
    transform: translateX(170px);
}

.AspectRatio5x3 .AnimationSelectedHero
{
    transform: translateX(180px);
}

.AspectRatio5x4 .AnimationSelectedHero
{
    transform: translateX(115px);
}

.AspectRatio4x3 .AnimationSelectedHero
{
    transform: translateX(125px);
}

.AnimationImageHover
{
    opacity: 0.5;
}

.AnimationBackgroundVisible
{
    opacity: 1.0;
}

.AnimationBackgroundInvisible
{
    opacity: 0.0;
}