Label, DOTAUserName
{
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
}

#MapName
{
    font-size: 96px;
    letter-spacing: 6px;
    vertical-align: bottom;
    text-transform: uppercase;
    color: white;
    opacity: 0.2;
    margin-bottom: 20px;
    margin-left: 40px;
}

#GameTips
{
    font-size: 22px;
    margin-right: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    color: white;
    opacity: 0.8;
    align: right center;
    text-align: right;
}

#GameTip
{
    align: center bottom;
    margin-bottom: 180px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.51);
    width: 100%;
}

#GameTip Label
{
    font-size: 24px;
    color: #EEEEEE;
    align: center center;
}

.Widget
{
    border-radius: 3px;
    //box-shadow: #111111 -2px -2px 4px 4px;
    //border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 10px;
}

.WidgetContainer
{
    width: 100%;
    height: 100%;
    flow-children: right;
    padding: 30px;
    padding-top: 50px;
}

.WidgetHeader
{
    horizontal-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.AspectRatio5x4 .WidgetHeader, .AspectRatio4x3 .WidgetHeader
{
    font-size: 20px;
}

#InfoWidgets
{
    height: 60%;
    width: 100%;
    margin-top: 150px;
}

#PassInfo
{
    width: 30%;
    height: 100%;
}

.AspectRatio5x4 #PassInfo, .AspectRatio4x3 #PassInfo
{
    width: 50%;
    align: right center;
}

.PassHeader
{
    horizontal-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
}

#PassInfoContainer, #NewsInfoContainer
{
    flow-children: down;
}

#PassInfo DOTAPurchaseButton
{
    horizontal-align: center;
    height: 50px;
}

#PassRewards
{
    height: 270px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    flow-children: right;
}

#PassBaseRewards
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#PassBaseRewards Panel
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
    tooltip-position: top;
    tooltip-body-position: 50% 100%;
}

#PassTip
{
    margin-bottom: 40px;
    color: gold;
    text-transform: uppercase;
    horizontal-align: center;
    font-size: 16px;
}

#PassRewards #LevelBar
{
    margin-top: 10px;
}

#PassRewardLeft
{
    flow-children: down;
    width: fill-parent-flow(1.0);
    margin-right: 30px;
}

#PassRewardRight
{
    flow-children: down;
    height: 100%;
}

#PassRewardRight .QuestPanel
{
    width: 170px;
    margin: 0;
    margin-top: 20px;
}

#PassLeaderboards
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.PassPlayer
{
    width: 48px;
    height: 48px;
    align: center center;
    border-radius: 50%;
    tooltip-position: top;
    tooltip-body-position: 50% 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.PassPlayer .RankLabel
{
    margin-top: 20px;
}

.WidgetRow
{
    flow-children: right;
}

#RankedInfo
{
    width: 40%;
    height: 100%;
    align: left top;
}

.AspectRatio5x4 #RankedInfo, .AspectRatio4x3 #RankedInfo
{
    width: 50%;
    align: right center;
}

#RankedInfoContainer
{
    flow-children: right;
}

#RankedInfoHeader
{
    align: left top;
    width: 120px;
    height: 32px;
    background-color: black;
}

#RankedInfoHeaderText
{
    align: center center;
    text-transform: uppercase;
    color: skyblue;
    font-size: 16px;
}

#RankedReward
{
    height: 100%;
    width: 40%;
}

#RankedRewardBottom
{
    margin-top: 14px;
    flow-children: right;
    height: fill-parent-flow(1.0);
    width: 100%;
    tooltip-position: bottom;
    tooltip-body-position: 50% 100%;
}

#RankedRewardImage
{
    border-radius: 3px;
    border: 1px solid gold;
    height: 80%;
    width: 100%;
    overflow: clip clip;
    margin-right: 60px;
}

.RewardImage
{
    height: 100%;
}

.RewardMovie
{
    width: 110%;
    height: 100%;
    align: center center;
}

#RankedRewardIcon
{
    background-image: url("file://{images}/status_icons/information.psd");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 32px;
    height: 32px;
    wash-color: #AAAAAA;
    vertical-align: center;
}

#RankedRewardText
{
    color: white;
    font-size: 18px;
    margin-left: 16px;
    vertical-align: center;
}

#RankedSeasonInfo
{
    flow-children: down;
    width: fill-parent-flow(1.0);
    height: 100%;
}

#RankedSeasonTop
{
    width: 100%;
    flow-children: down;
}

.RankedMode
{
    align: center bottom;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.86);
}

.RankedModeName
{
    align: center center;
    font-size: 13px;
    margin: 1px;
    color: white;
}

#RankedSeasonCongratulations
{
    width: 100%;
    flow-children: down;
    margin-top: 40px;
    margin-bottom: 40px;
}

.RankedPlayers
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 10px;
}

.RankedSeasonCongratulationsPlayer
{
    flow-children: down;
    margin: 10px;
    margin-bottom: 0;
}

.RankedSeasonCongratulationsPlayerAvatar
{
    align: center center;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid gold;
    margin-bottom: 16px;
    tooltip-position: bottom;
    tooltip-body-position: 50% 100%;
}

.RankedSeasonCongratulationsPlayerIcon
{
    horizontal-align: center;
}

.RankedInfoRightHeader
{
    margin-top: 40px;
}

.RankedInfoRightText
{
    horizontal-align: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

#RankedInfoLoading
{
    align: center center;
}

#RankedReward
{
    flow-children: down;
}

.HallOfFameAvatar
{
    width: 48px;
    height: 48px;
    align: center center;
    border-radius: 50%;
    tooltip-position: top;
    tooltip-body-position: 50% 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.HallOfFameRank
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    tooltip-position: top;
    tooltip-body-position: 50% 100%;
    background-color: rgba(0, 255, 255, 0.02);
}

#NewsInfo
{
    width: 30%;
    height: 100%;
}

.AspectRatio5x4 #NewsInfo, .AspectRatio4x3 #NewsInfo
{
    width: 50%;
    align: right center;
}

#NewsArcanaPlayer
{
    flow-children: right;
    align: center center;
    margin: 30px;
}

#NewsArcanaPlayer DOTAUserName
{
    color: gold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    align: center center;
}

#NewsArcanaImage
{
    align: center center;
    margin-bottom: 55px;
    border-radius: 3px;
    border: 1px solid gold;
}
