.RoundEndingBackground
{
    width: 100%;
    height: 100%;
}

#FadeInPanel
{
    width: 100%;
    height: 100%;
    background-color: black;
}

.AnimationFadeIn
{
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: FadeIn;
    sound: "UI.RoundEndFadeIn";
}

.Hidden
{
    visibility: collapse;
}

.AnimationMessageVisible
{
    opacity: 1.0;
}

.AnimationMessageInvisible
{
    opacity: 0.0;
}

Label
{
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    color: white;
}

#RoundResultContainer
{
    align: center top;
    width: 100%;
    height:120px;
    background-image:url('file://{images}/custom_game/bg_titlebar.jpg');
    background-size:100% 100%;
    margin-top: 30px;
}

#RoundResult
{
    align: center top;
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px 2.0 red;
}

#RoundResults
{
    align: left bottom;
    flow-children: down;
    transition-property: opacity;
    transition-duration: 0.1s;
    margin-bottom: 100px;
}

#TeamScores
{
    flow-children: down;
    vertical-align: center;
}

#GameGoal
{
    flow-children: right;
    margin-top: 30px;
    align: right center;
}

#GameGoalNumber
{
    font-size: 120px;
    font-weight: bold;
    text-shadow: 0px 0px 8px 4.0 skyblue;
    letter-spacing: 6px;
    align: center center;
    text-align: center;
}

#GameGoalText
{
    font-size: 32px;
    vertical-align: center;
    text-shadow: 0px 0px 4px 2.0 skyblue;
}

.TeamPanel
{
    flow-children: right;
}

.TeamNameAndHeroes
{
    flow-children: right;
    vertical-align: center;
}

.TeamHeroes
{
    flow-children: right;
    vertical-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.TeamHeroes DOTAHeroImage
{
    margin: 6px;
    width: 32px;
    height: 32px;
}

.TeamScore
{
    align: center center;
    font-size: 48px;
    margin-left: 12px;
    text-shadow: 0px 0px 8px 2.0 skyblue;
}

.TeamEarned
{
    align: center center;
    font-size: 56px;
    margin-left: 24px;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: PointsAnimation;
}

.TeamEarnedGoingToWin
{
    text-shadow: 0px 0px 8px 2.0 red;
}

.TeamEarnedWon
{
    text-shadow: 0px 0px 8px 2.0 #00FF21;
}

.SurviveToWin
{
    font-size: 24px;
    text-align: center;
    margin-left: 30px;
    vertical-align: center;
    text-shadow: 0px 0px 8px 2.0 black;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: PointsAnimation;
}

.Award
{
    margin-top: 10px;
    horizontal-align: right;
    flow-children: right;
}

.FirstBloodIcon
{
    background-image: url('file://{images}/custom_game/drop.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: center;
    margin-right: 5px;
}

.MvpIcon
{
    background-image: url('file://{images}/custom_game/round-star.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: center;
    margin-right: 5px;
}

.AwardHero
{
    vertical-align: center;
    margin-left: 10px;
}

.AwardText
{
    font-size: 32px;
    text-shadow: 0px 1px 2px 2.0 #000000;
    vertical-align: center;
}

.TeamName
{
    width: 300px;
    white-space: nowrap;
    text-align: center;
}

.TeamName Label
{
    color: white;
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    font-size: 36px;
    text-shadow: 0px 1px 2px 2.0 #000000;
    white-space: nowrap;
    align: right center;
}

@keyframes 'FadeIn'
{
    0%
    {
        opacity: 1.0;
    }

    30%
    {
        opacity: 1.0;
    }
    
    100%
    {
        opacity: 0.0;
    }
}

@keyframes 'PointsAnimation'
{
    0%
    {
        transform: translateX(-2px) rotateZ(-3deg);
    }

    50%
    {
        transform: translateX(2px) rotateZ(3deg);
    }
    
    100%
    {
        transform: translateX(-2px) rotateZ(-3deg);
    }
}