b
{
    font-weight: bold;
}

.ExitGameOverlay
{
    background-image: url("file://{images}/control_icons/return_to_game.png");
    width: 62px;
    height: 57px;
    background-size: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #444a55;
    transform: rotatez(180deg);
}

.RankLabel
{
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    align: center bottom;
    font-weight: bold;
    color: white;
}

.NormalText
{
    text-shadow: skyblue 0px 0px 2px 2px;
    font-size: 32px;
    margin-bottom: -6px;
}

.EliteText
{
    text-shadow: gold 0px 0px 4px 4px;
    font-size: 27px;
    margin-bottom: -1px;
}

.EliteEffect
{
    width: 100%;
    height: 100%;
    y: -10%;
}

.Hidden
{
    visibility: collapse;
}

.LoadingImage
{
    width: 29px;
    height: 29px;

    animation-name: LoadingImageRotate;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    background-image: url("file://{images}/status_icons/loadingthrobber_round.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

@keyframes 'LoadingImageRotate'
{
    0%
    {
        transform: rotateZ( 360deg );
    }

    50%
    {
        transform: rotateZ( 180deg );
    }
    
    100%
    {
        transform: rotateZ( 0deg );
    }
}
